<!--
  index.html

  Serves as the entry point where main.js can inject HTML

  Author: Ellery De Jesus
  Author: Chris Wolf
  Version: 2.0.0 (November 3, 2019)
-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Agile Development Board</title>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Lobster+Two&display=swap" rel="stylesheet">

  <!-- Trash Can Icon -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- StyleSheet -->
  <link href="../styles/styles.css" rel="stylesheet">

  <!-- JavaScript -->
  <script src="../src/main/main_transpiled.js"></script>
</head>
<body>
  <!-- Where main will inject all of our HTML -->
  <div id="main">
  </div>
</body>
</html>
