/***********
 * GLOBALS *
 ***********/
body {
    background: radial-gradient(circle, rgba(213,201,39,1) 46%, rgba(173,0,255,1) 100%);
    color: black;
    font-family: Lobster-Two, cursive;
}

/*******
 * IDS *
 *******/
#toolbar {
    background-color: black;
    color: white;
    width: 120%;
    margin-left: -20px;
    margin-top: -10px;
    padding-left: 50%;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
}

 /***********
  * CLASSES *
  ***********/
.task-card {
    font-family: arial, serif;
    background-color: gray;
    width: 80%;
    min-height: 15vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    font-size: 24px;
}

.add-button {
    background-color: blue;
    color: white;
}

.remove-button {
    background-color: red;
    color: white;
    display: inline-block;
    margin-left: 170px;
}